.register_title {
    text-align: center;
    padding-block: 2rem;
}

.register {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.register button {
    margin-bottom: 3rem;
}
